---

- name: Install ntp
  apt: name=chrony update_cache=yes cache_valid_time=3600
  notify:
    - restart ntp server

- name: Configure ntp (remove existing servers)
  lineinfile: dest=/etc/chrony/chrony.conf regexp="^server" state=absent

- name: Configure ntp (add ntp server)
  lineinfile: dest=/etc/chrony/chrony.conf
              line="server {{ NTP_SERVER }} iburst"
              insertafter="# better to use IP numbers than host names."
  when: ansible_hostname == "controller"

- name: Configure ntp (add reference of controller)
  lineinfile: dest=/etc/chrony/chrony.conf
              line="server controller iburst"
              insertafter="# better to use IP numbers than host names."
  when: ansible_hostname != "controller"

- name: copy hosts file
  template: src=hosts.j2 dest=/etc/hosts

- name: Enable the OpenStack repository
  apt: name=software-properties-common

- name: Add apt repository
  command: add-apt-repository cloud-archive:liberty -y

- name: upgrade packages
  apt: update_cache=yes upgrade=dist

- name: Install the OpenStack client
  apt: update_cache=yes name=python-openstackclient
