---
# Prerequites on your own

- name: install the packages
  apt:
    pkg:
    - cinder-volume

- name: edit cinder conf file
  template: src=cinder.conf.j2 dest=/etc/cinder/cinder.conf

- name: Restart the Block Storage service including its dependencies
  service: name={{ item }} state=restarted
  with_items:
    - tgt
    - cinder-volume
