---
- name: create database
  mysql_db:
    name: keystone
    state : present

- name: create keystone user
  mysql_user: name=keystone host={{ item }} password={{ KEYSTONE_DBPASS }} priv=keystone.*:ALL state=present
  with_items:
    - localhost
    - "%"

- name: install keystone packages
  apt:
    pkg:
    - keystone
    - apache2
    - libapache2-mod-wsgi-py3

- name: edit keystone conf file
  template: src=keystone.conf.j2 dest=/etc/keystone/keystone.conf

- name: Populate the Identity service database
  script: keystone_db_sync.sh

- name: Initialize Fernet keys
  command: keystone-manage fernet_setup --keystone-user keystone --keystone-group keystone

- name: Initialize credential
  command: keystone-manage credential_setup --keystone-user keystone --keystone-group keystone

- name: bootstrap the identity service
  command: |
    keystone-manage bootstrap --bootstrap-password {{ ADMIN_PASS }} \
    --bootstrap-admin-url http://{{ api_host }}:5000/v3/ \
    --bootstrap-internal-url http://{{ api_host }}:5000/v3/ \
    --bootstrap-public-url http://{{ api_host }}:5000/v3/ \
    --bootstrap-region-id RegionOne

- name: edit apache conf file
  template: src=apache2.conf.j2 dest=/etc/apache2/apache2.conf

- name: Restart the Apache HTTP server
  service: name=apache2 state=restarted

- name: Create projects, users, and roles
  script: create_tenants_users_roles.sh {{ ADMIN_PASS }} {{ DEMO_PASS }}
  environment: "{{ admin_openrc }}"
