127.0.0.1 localhost

# controller
{{ controller_mgmt_ip }}       controller

# compute1
{{ compute1_mgmt_ip }}       compute1

# block1
{{ block1_mgmt_ip }}       block1

# object1
{{ object1_mgmt_ip }}       object1

# object2
{{ object2_mgmt_ip }}       object2
